$blue: #1a0f71;

.Menu {
  .Logo {
    img {
      width: 130px;
    }
  }

  &.top-bar {
    ul {
      background-color: #fff;
    }
  }


  .contact {
    text-align: right;
    padding: 12px 0;
    a {
      text-transform: uppercase;
      background: $blue;
      font-size: 13px;
      padding: 12px 30px;
      margin-bottom: 0;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .header-text {
    height: 100%;
    padding-top: 30%;

    h2 {
      color: $blue;
      margin-top: 15px;
    }

    .to-about {
      text-transform: uppercase;
      background: #fff;
      color: #a3a3a3;
      font-size: 13px;
      padding: 12px 30px;
      margin-bottom: 0;
      border: 1px solid #a3a3a3;
      letter-spacing: 1px;
    }
    .arrow-about {
      color: #a3a3a3;
      float: left;
    }
    .arrow {
      text-align: center;
      margin: 8% 0;
    }
    .bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }

  }
}
.Header {
  min-height: 700px;
  margin-top: -40px;
  padding-right: 50px;
  padding-left: 50px;

  //.header-content {
  //  min-height: 700px;
  //}

  .header-image {
    background-color: #fff;
    min-width: 300px;
    min-height: 370px;
    background-size: contain;
  }
}


