.top-bar {
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
  .top-bar-left {
    background-color: #ffffff;
  }
  .top-bar-right {
    background-color: #ffffff;
  }
}
.contact {
  background-color: #003A70;
  color: #ffffff;
}
li.menu-text {
  width: 100px;
  height: 50px;
  float: left;
  margin-left: -30px;
}
.page-content {
  margin: auto;
  //.header-page {
  //  padding: 20px 50px 40px;
  //  height: 100vh;
  //  h4 {
  //    color: #404040;
  //    font-weight: 200;
  //    letter-spacing: 2px;
  //
  //  }
  //  h2 {
  //    color: #0c3d5d;
  //  }
  //  .header-image {
  //    background-color: #2ab27b;
  //    height: 300px;
  //  }
  //}
  .about {
    padding: 50px 50px;
    background: #003A70;
    background: -webkit-linear-gradient(left, #003A70, #007ABE); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #003A70, #007ABE); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #003A70, #007ABE); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #003A70, #007ABE);
    color: #ffffff;
    min-height: 430px;
    .about-buttons {
      //max-width: 240px;
      margin: auto;
      display: inline-block;
      .secondary {
        color: #ffffff;
      }
      .button{
        border: solid 2px #ffffff;
        margin: 0px;
      }
      .button:first-child {
        border-top-left-radius: 5000px;
        border-bottom-left-radius: 5000px;
      }
      .button:last-child {
        border-top-right-radius: 5000px;
        border-bottom-right-radius: 5000px;
      }
      a:active {
        background-color: #00bdf4;
      }
    }
    .about-describe {
      width: 75%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .services {
    padding-left: 50px;
    padding-right: 50px;
    .all-services {
      img {
        width: 100%;
        height: 100%;
      }
      .blue {
        background: url(/images/sample1.png) right center / cover no-repeat;
        color: rgb(255, 255, 255);
        height: 100%;
        padding: 1%;
        p {
          color: #ffffff;
        }
      }
      .white {
        background: url(/images/sample4.png) right center / cover no-repeat;
        height: 100%;
        padding: 1%;
      }
    }
  }
  .team {
    min-height: 430px;
    padding-right: 50px;
    padding-left: 50px;
    //width: 1200px;
    margin: auto;

    .team-buttons {
      //max-width: 230px;
      //margin: auto;
      display: inline-block;
      .button{
        border: solid 2px #f2f2f2;
        margin: 0px;
      }
      .button:first-child {
        border-top-left-radius: 5000px;
        border-bottom-left-radius: 5000px;
      }
      .button:last-child {
        border-top-right-radius: 5000px;
        border-bottom-right-radius: 5000px;
      }
      a:active {
        background-color: #2e3436;
      }
    }
    .description {
      padding-right: 4%;
      text-align: left;

      p {
        font-size: 12px;
      }
      h5 {
        font-size: 1.5rem;
      }
    }
    .member {
      margin: 2px;
      img {
        width: 100%;
      }
      //height: 260px;
    }
  }
  .page-footer {
    padding: 10px 50px 20px;
    background-color: #0E1232;
    color: rgba(255,255,255,0.6);
    .message {
      //background-color: #f2f2f2;
      background: url("/images/bg.jpg") no-repeat;
      background-size: cover;
      padding: 60px;
      height: 245px;
      width: 90%;
      margin: auto auto 10px;
      //.button.clear.secondary {
      //  border: 1px solid #0f1233;
      //  color: #0f1233;
      //}

      h2 {
        color: #0f1233;
      }
    }
    .contacts {
      margin-top: 30px;
      .left {
        border-right: solid rgba(255, 255, 255, 0.6) 1px;
        padding-bottom: 20px;
        color: rgba(255, 255, 255, 0.6);
        .subscribe {
          margin: auto;
          label {
            color: rgba(255, 255, 255, 0.6);
            clear: both;
            margin-top: 30px;
          }
          .input-group-field {
            background-color: rgba(255, 255, 255, 0.14);
          }
          .button.secondary {
            background: #ffffff;
            color: #000034;
          }
          .footer-image {
            background: transparent;
            width: 100px;
            height: 50px;
            background-size: contain;
            float: left;
          }
        }
      }
      .right {
        padding-left: 30px;
        padding-top: 40px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
.service {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  .service-description {
    height: 100%;
    opacity: 0;
    padding: 1%;
    background-color: rgba(0,0,0,.6);
    color: #ffffff;
  }
}
.service:hover {
  .service-description {
    opacity: 1;
  }
}
@media only screen and (max-width : 992px) {
  .page-content .page-footer .contacts .left {
    border-right: 0px solid !important;
  }
  .service {
    margin-top: 5px;
  }
}
//.page {
//  width: 1200px;
//  margin: auto;
//}
