@import "settings";
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";
@import "../../../node_modules/foundation-sites/scss/foundation";
@import "../../../node_modules/motion-ui/src/motion-ui";
@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@include foundation-everything(true);
@include motion-ui-transitions;
@include motion-ui-animations;
@include foundation-prototype-rounded;
@include foundation-prototype-bordered;
@include foundation-prototype-shadow;
@import "page_variables";

@import "pages/home";

body {
  * {
    font-family: proxima-nova, "Proxima Nova", "Helvetica Neue", Avenir, Helvetica, Roboto, Arial, sans-serif;
    font-weight: 200;
  }
}